
    body {
      margin: 0;
      font-family: 'Merriweather', serif;
    }

    header {
      background-color: #050505;
    }

    header::after {
      content: '';
      display: table;
      clear: both;
    }

    nav {
      float: right;
    }

    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    nav li {
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      margin-left: 70px;
      padding-top: 23px;
      padding-bottom: 10px;

      position: relative;
    }

    nav a {
      color: #ebebeb;
      text-decoration: none;
      text-transform: uppercase;
    }

    nav a:hover {
      color: #c9c7c9;
    }

    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background-color: #ebebeb;

      position: absolute;
      top: 0;
      width: 0;
      transition: all ease-in-out 300ms;
    }

      nav a:hover::before {
              width: 100%;
      }

    h1 {
      font-size: 4.5rem;
      font-family: 'Montserrat', sans-serif;
    }

    h2{
      color: #050505;
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      padding-bottom: 10px;
    }

    h3 {
      color: #221f3b;
      font-size: 2.125rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
            padding-bottom: 10px;
      text-align: center;
    }

    h4 {
    font-size: 1.5rem;
      color: #221f3b;
      font-family: 'Montserrat', sans-serif;
    }

    hr {
      border: dotted #ced9d9 6px;
      border-bottom: none;
      width: 4%;
      margin: 100px auto;
    }

    a {
      color: #4e427d;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
    }

    a:hover {
      color: #c8bfe3;
    }

    .introducing {
      position: relative;
      left: 300px;
    }

    .intro-message {
      position: relative;
      left: 400px;
    }

    .top-container{
      width: 80%;
      margin: 0 auto;
    }

    .fp-container{
      background-color: #EEE9F4;
      position: relative;
      padding-top: 150px;
      height: 550px;
    }

    .middle-container{
      margin: 100px 0;
    }

    .bottom-container{
      background-color: #7967c2;
      padding: 40px 0 20px;
      text-align: center;
    }

    .info-row {
      width: 50%;
      margin: 100px auto 100px auto;
      text-align: left;
    }

    .info-text {
      text-align: left;
    }

    .pro {
      text-decoration: underline;
    }

    .copyright {
      color: #c8bfe3;
      font-size: 0.75rem;
      padding: 20px 0;
    }

    .intro {
      width: 30%;
      margin: auto;
      text-align: center;
    }

    .smartphone-img {
      width: 25%;
      position: absolute;
      float: right;
      right: 150px;
      bottom: 100px;
    }

    .reaction-img {
      width: 7%;
      position: absolute;
      float: right;
      right: 150px;
      bottom: 440px;
    }

    .telephone-img {
      width: 25%;
      float: left;
      margin-right: 30px;
    }


.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  float: right;
  right: 685px;
  bottom: 280px;
}

.btn:hover {
  background: #9181F2;
  background-image: -webkit-linear-gradient(top, #9181F2, #9181F2);
  background-image: -moz-linear-gradient(top, #9181F2, #9181F2);
  background-image: -ms-linear-gradient(top, #9181F2, #9181F2);
  background-image: -o-linear-gradient(top, #9181F2, #9181F2);
  background-image: linear-gradient(to bottom, #9181F2, #9181F2);
  text-decoration: none;
}
